* {
  margin: 0;
  padding: 0;
}
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
ul, ol, li {
  list-style: none;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fafafa;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
div {
  box-sizing: border-box;
}
button {
  display: block;
  line-height: 1.2;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: all .3s;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 10px;
}
button:hover {
  background-color: rgb(6, 78, 78);
  color: #fff;
}
input {
  outline: none;
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
  margin: 10px auto;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}